
/* Outlined Text */
.outlined-text {
    font-weight: 900;
    font-size: 7.75rem;
    letter-spacing: 5px;
    color: var(--outline-color);
    text-shadow: 1px 1px var(--outline-selection), -1px 1px var(--outline-selection), 1px -1px var(--outline-selection), -1px -1px var(--outline-selection);
    transition: all 0.3s ease;
}

.outlined-text::selection {
    background-color: transparent;
    color: var(--outline-selection);
    text-shadow: none;
}

/* Category Layout */
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 50px 0;
    overflow: hidden;
    background-color: var(--white-color);
}

.category .row{
    flex-wrap: nowrap;
}

.background{
    display: none;
}
.category .categories {
    background-color: var(--white-color);
}

/* Category Cards */
.category-cards {
    width: 100%;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 230px ;
    text-align: center;
    margin-right: 20px;
    background-color: #fef1f1;
    border-radius: 20px;
    padding: 30px 0;
}

.category-card h3 {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    width: 70px;
}

.category-card p {
    margin-bottom: 0;
    width: 70px;
}

.category-card:nth-child(2),
.category-card:nth-child(5) {
    background: #e1fcf2;
}

.category-card:nth-child(3),
.category-card:nth-child(6) {
    background: #f4f1fe;
}

.category-card:nth-child(4) {
    background: #fbf9e4;
}

/* Category Image */
.category-img-explore img {
    width: 60px;
    height: 60px;
}

/* Swiper (Carousel) Styles */
.category-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.custom-swiper  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 230px !important;
    text-align: center;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px 0;
}

.custom-swiper  h3 {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    width: 70px;
}

.custom-swiper  p {
    margin-bottom: 0;
    width: 70px;
}


.swiper-1 {
    background-color: var(--swiper-1-bg);

}

.swiper-2 {
    background: var(--swiper-2-bg);
}

.swiper-3 {
    background: var(--swiper-3-bg);
}

.swiper-4 {
    background: var(--swiper-4-bg);
}


/* Female Image and Offer Styles */
.female-img {
    position: relative;
}

.female-img img {
    border-radius: 30px;
}

.female-img .offer {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--categoryoffer-bg);
    border-radius: 15px;
    color: var(--white-color);
    padding: 5px 15px;
}
/* .dark .female-img .offer {
    color: var(--white-color);
    background-color: #000000cc;
} */



.categoriesplace{
    position: relative;
}
.category  .categories{
    border-top-left-radius: 30px ;
    height:200px;
    /* width: 150%; */
    position: absolute;
    bottom: 0;
    left: -200px;
    padding: 15px;
    z-index: 10000;
}

.female-img::before,
.female-img::after {
    width: 30px;
    height: 30px;
    position: absolute;
    content: '';
    background: url('../imgs/top-shape.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 5000;
}
.dark .female-img::before,
.dark .female-img::after {
        background: none;
        background-color: #2b2a2a; 
        mask-size: cover;
        mask: url('../imgs/top-shape.png') no-repeat center;    
}

.female-img::before {
    bottom: 0;
    left: 310px;
}

.female-img::after {
    bottom: 199px;
    right: -1px;
}

.category  .swiper-wrapper{
    right: -415px;
}
.custom-swiper:hover .category-img-explore img {
    transform: scale(1.2);

}

.left-part-cat .outlined-text {
    display:none;
}
.right-part-cat .outlined-text {
    display:flex;
}

/* quieries */
@media (max-width: 1400px) {
    .outlined-text {
        font-size: 6.5rem;
    }
    .female-img::before{
        left:234px;
    }
}
@media (max-width: 1200px) {
    .outlined-text {
        font-size:4.5rem
    }
}
@media (max-width: 993px) {
    .female-img::before {
        left: 159px;
    }
    .category .row{
        flex-direction: column;
    }
    .female-img  {
        width: 50%;
        margin-bottom: 30px;
    }
    .left-part-cat {
    display:flex;
    gap:50px;
    }
    .left-part-cat .outlined-text {
        display:flex;
        font-size: 4rem;
    }
    .right-part-cat .outlined-text {
        display:none;
    }
    .category{
        align-items: flex-start;
    }
    .categoriesplace {
        width: 100%;
    }
    .category .row, .category .container{
        height:100%;
        align-items: center;
        justify-content: center;
    }
    .category  .categories{
        position: relative;
        top: 0;
        left: 0;
    }
    .category  .swiper-wrapper{
        right: -149px;
    }
.female-img::before, 
.female-img::after {
    display: none;    
}
.category  .categories{
    border-top-left-radius: 0px ;
}
}

@media (max-width: 776px) {
  .outlined-text{
    /* font-size: 3rem; */
    margin-bottom: 50px;
}  
.left-part-cat {
    text-align: center;
    flex-direction: column;    
}
.female-img {
    margin: 0 auto;;   
}
.category .swiper-wrapper{
    right: 0;
        left: 379px;
    }
}

@media (max-width: 500px) {
  .left-part-cat .outlined-text{
    font-size: 2.5rem;
 
}
}
@media (max-width: 450px) {
  .category .swiper-wrapper{
    right: -355px;
  }
  .category .swiper-wrapper{
    right: -355px;
    left:121px;
  }
}
